@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var totalPrice = 0;
}
    <div class="row">
        <div class="cart-nav-item col-lg-7 col-md-7 col-sm-12">Thông tin sản phẩm</div>
        <div class="cart-nav-item col-lg-2 col-md-2 col-sm-12">Tùy chọn</div>
        <div class="cart-nav-item col-lg-3 col-md-3 col-sm-12">Giá</div>
    </div>
    @foreach (var Item in ViewBag.cart.Items)
    {
        totalPrice += (Item.Qty * Item.Price);
        <div class="cart-item row">
            <div class="cart-thumb col-lg-7 col-md-7 col-sm-12">
                <img src="~/images/@Item.Image">
                <h4>@Item.Name</h4>
            </div>

            <div class="cart-quantity col-lg-2 col-md-2 col-sm-12">
                <input type="number" id="@Item.ProductId" class="form-control form-blue quantity" value="@Item.Qty" min="1">
            </div>
        <div class="cart-price col-lg-3 col-md-3 col-sm-12"><b style="font-size:15px">@string.Format("{0:N0} đ", Item.Price * Item.Qty)</b><a class="delete-item-cart" href="/delete-item-cart/@Item.ProductId">Xóa</a></div>
            <!--Lưu ý: {0:NO} O ở đây được thay thế bằng kết quả tính toán. NO thể hiện là không có phần thập phân. -->
        </div>
    }

    <div class="row">
        <div class="cart-total col-lg-2 col-md-2 col-sm-12"><b>Tổng cộng:</b></div>
        <div class="cart-price col-lg-3 col-md-3 col-sm-12"><b>@string.Format("{0:N0} đ", totalPrice)</b></div>
    </div>
<script src="~/site/js/ajax-cart.js"></script>
<script src="~/site/js/confirm-delete.js"></script>
